APP_TIMEZONE=Europe/Berlin
APP_BASE_URL=http://127.0.0.1:8080
APP_HOST=127.0.0.1
APP_PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_NAME=danielle_local
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
BOOTSTRAP_DB_ROOT_USER=root
BOOTSTRAP_DB_ROOT_PASS=
XAMPP_ROOT=C:\xampp
XAMPP_PHP_EXE=C:\xampp\php\php.exe
XAMPP_MYSQL_EXE=C:\xampp\mysql\bin\mysql.exe
XAMPP_MYSQLD_EXE=C:\xampp\mysql\bin\mysqld.exe
XAMPP_MYSQL_DEFAULTS=C:\xampp\mysql\bin\my.ini
