.env
.env.local
.local/
test-results/
mobile/danielle_customer_app/build/
c18x5xqr2_mysql_service_one_com.sql
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
*.code-workspace
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
coverage/
node_modules/
dist/
tmp/
temp/
mobile/danielle_customer_app/.dart_tool/
mobile/danielle_customer_app/.flutter-plugins
mobile/danielle_customer_app/.flutter-plugins-dependencies
mobile/danielle_customer_app/.packages
mobile/danielle_customer_app/.pub/
mobile/danielle_customer_app/.pub-cache/
mobile/danielle_customer_app/android/.gradle/
mobile/danielle_customer_app/android/local.properties
